.icon-menu:before {
  margin: 10px;
  top: 5px;
  font-size: 25px;
  position: relative;
}

.icon-ball:before {
  margin: 10px;
  top: 5px;
  position: relative;
}

#btn-menu {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  background: #222;
  display: block;
  color: #fff;
}

.menu {
  position: absolute;
  top: 269px;
  left: 0;
  background: #222;
  width: 100%;
  height: 100vh;
  margin-left: -100%;
  transition: all 0.5s;
  z-index: 100;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 50px;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a:hover {
  background: #444;
}

.mostrar {
  margin-left: 0%;
}

@media (min-width: 630px) {
  .menu {
    top: 152px;
  }
}

@media (min-width: 1024px) {
  .main-header .contenedor {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    position: static;
    height: auto;
    margin-left: 0%;
    width: auto;
  }
  .menu ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .menu a {
    border: none;
  }
  #btn-menu {
    display: none;
  }
  .icon-ball:before {
    margin: 0;
    margin-right: 10px;
  }
}
